
.mouse-trail {
    position: absolute;
    pointer-events: none;
    width: 80px;
    height: 80px;
    background-image: url('assets/images/among\ us.gif'); /* Replace with your GIF URL */
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9999;
    animation: float 3s infinite ease-in-out; /* Slower animation for smoother feel */
    z-index: 0;
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(3px, -3px); /* Reduced movement */
    }
    40% {
        transform: translate(0, -6px); /* Reduced movement */
    }
    60% {
        transform: translate(-3px, -3px); /* Reduced movement */
    }
    80% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(3px, -3px); /* Light float */
    }
}
